

# Relatório de Análise II

## Tipos de imóveis

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [4]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [5]:
dados['Tipo']

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [6]:
dados.Tipo

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [7]:
tipo_de_imovel = dados['Tipo']

In [8]:
type(tipo_de_imovel)

pandas.core.series.Series

In [9]:
# identificar cada imóvel
tipo_de_imovel.drop_duplicates(inplace=True)

In [10]:
tipo_de_imovel

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

## Organizando a Visualização

In [12]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [13]:
tipo_de_imovel

                     Tipo
0             Apartamento
16923                Casa
17821  Casa de Condomínio
18785        Casa de Vila
19018           Quitinete

In [14]:
tipo_de_imovel.index

Int64Index([0, 16923, 17821, 18785, 19018], dtype='int64')

In [15]:
tipo_de_imovel.shape[0]

5

In [16]:
range(tipo_de_imovel.shape[0])

range(0, 5)

In [17]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [18]:
tipo_de_imovel

                 Tipo
0         Apartamento
1                Casa
2  Casa de Condomínio
3        Casa de Vila
4           Quitinete

In [19]:
tipo_de_imovel.columns.name = 'id'
tipo_de_imovel

id                Tipo
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete